*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.post_main {
  display: flex;
  justify-content: center;
}
.post-container {
  width: 75vw;
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
}
.flickr_pagination .disabled {
  color: #aaaaaa;
}
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}
.flickr_pagination a:hover,
.flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;
}
.flickr_pagination .previous_page {
  margin-right: 1em;
}
.flickr_pagination .next_page {
  margin-left: 1em;
}

// _____________new post_________

// _______________show_____________
.show_main {
  text-align: center;
}

// ______login form ___________
.custom_form_main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.custom_form-container {
  border: 1px solid lightgray;
  padding: 2rem;
}
.shared_links {
  text-align: center;
}

// _________new post form
.new_form_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new_post_form-container {
  width: 65vw;
}

// ___________navabar

#links_collection_nav {
  flex-direction: row;
}
#custom_list {
  margin-left: 0.5rem;
}
